.mat-toolbar {
    background-color: #004a9f;
    color: white;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
}

.mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;

    border-radius: 10px;
    border: .3px solid rgb(230, 221, 221);
    box-shadow: 0 0 20px 1px rgb(194, 198, 202);
}

.mat-sidenav-content {
    height: calc(100vh - 65px);
}

.nav-button {
    margin-right: 1rem;
}

.mat-divider {
    margin: 16px 0;
    color: lightgray;
}

.avatar {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
    font-size: 1.5rem;
}

.designation {
    margin-top: 2px;
    font-size: .9rem;
    color: lightgray;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 1rem 0;
}

.mat-icon {
    margin-left: 8px;
}