<mat-toolbar>
  <button mat-icon-button class="nav-button" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <p class="page-header" routerLink="">
    iBAS++ 
    <span>
      Data Analytics Panel
    </span>
  </p>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <img class="avatar" src="https://images.unsplash.com/photo-1654110455429-cf322b40a906?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80" 
      alt="profile-picture">
    <h4 class="name">Jamal Uddin</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>
    
    <!-- <mat-menu>
      <button mat-button class="menu-button" [matMenuTriggerFor]="qaDataset">
        <mat-icon>question_answer</mat-icon>
        <span>Q/A Dataset</span>
      </button>
    </mat-menu> -->

    <button mat-button class="menu-button" routerLink="/qa-dataset">
      <mat-icon>question_answer</mat-icon>
      <span>Q/A Dataset</span>
    </button>

    <button mat-button class="menu-button" routerLink="/qa-dataset/language">
      <mat-icon>language</mat-icon>
      <span>Language</span>
    </button>

    <button mat-button class="menu-button" routerLink="/qa-dataset/answer">
      <mat-icon>queue</mat-icon>
      <span>Answer</span>
    </button>

    <button mat-button class="menu-button" routerLink="qa-dataset/question">
      <mat-icon>query_builder</mat-icon>
      <span>Question</span>
    </button>

    <!-- --------------------- WORKING ON Sub-menus of "Q/A Dataset" --------------------- -->
    <!-- <button mat-button class="menu-button" [matMenuTriggerFor]="qaDataset">
      <mat-icon>question_answer</mat-icon>
      <span>Q/A Dataset</span>
    </button>
    <mat-menu #qaDataset="matMenu">
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu> -->
    <!-- --------------------- WORKING ON Sub-menus of "Q/A Dataset" --------------------- -->

  </mat-sidenav>


  <mat-sidenav-content>
    <div class="content">
      <!-- <app-dashboard></app-dashboard> -->
      <!-- <app-books></app-books> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

